.project-grid-a-tag:visited {
    color: rgb(148, 163, 184);;
}

.all-projects-main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(16, 23, 42);
}

.projects-header1 {
    margin-top: -8vh;
    margin-bottom: 50px;
}

.project-grid-div {
    display: flex;
    gap: 30px;
    align-items: center;
    height: 175px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(400px, 1fr));
    grid-auto-rows: minmax(0, 1fr);
    row-gap: 20px;
    column-gap: 50px;
    margin: 0 auto;
    background-color: rgb(16, 23, 42);
}