.right-container {
    width: 50%;
    height: 100%;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

.view-resume-p, .view-all-projects-p {
    font-weight: 700;
}

.margin-top15 {
    margin-top: 15px;
}

.view-resume-p span::before {
    content: "—— ";
}

.view-resume-p:hover span::before {
    content: "——— ";
}

.view-resume-p:hover {
    color: rgb(250, 262, 284);
}

.view-all-projects-p span::before {
    content: "—— ";
}

.view-all-projects-p:hover span::before {
    content: "——— ";
}

.view-all-projects-p:hover {
    color: rgb(250, 262, 284);
}

.projects-container {
    margin-top: 35px;
    width: 100%;
    height: fit-content;
}

.project {
    display: flex;
    gap: 30px;
    align-items: center;
    height: fit-content;
    width: 100%;
    transition: background-color 0.3s ease;
    padding: 15px;
}

.project:hover {
    background-color: rgb(22,35,65);
    border-radius: 10px;
}

.project-text {
    margin-top: -8px;
}

.project.not-first {
    margin-top: 50px;
}

.project-a-tag:visited {
    color: inherit;
}

.view-all-projects-p:visited {
    color: rgb(148, 163, 184);
}